body {
    background-image: url('./images/ny.jpg');
    background-size: 100%;
    background-position: top;
    font-family: sans-serif;
    margin: 0;
    color: white;
}

body > div {
    margin-left: 7vw;
    margin-top: 5vw;
}

nav {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 40px;
    background-color: #182626;
}

nav div {
    flex: 1;
    margin-left: 20vw;
}

nav a {
    text-decoration: none;
    margin-left: 10px;
    color: white;
}

#navbarSearch {
    display: flex;
    margin-left: auto;
}

#search {
    color: turquoise;
    border-radius: 5px;
    padding: 5px;
    width: 200px;
}

#search::placeholder {
    color: turquoise;
}

input[type="button"] {
    background-color: turquoise;
    color: white;
    border-radius: 5px;
    border: 0;
    padding: 5px;
    margin-left: 10px;
}

input[type="button"]:hover {
    background-color: darkturquoise;
}

#booking {
    margin-left: 0px;
}

#resetSearchBox {
    background-color: turquoise;
    color: white;
    border-radius: 5px;
    border: 0;
    padding: 5px;
    margin-right: 20px;
    margin-left: 10px;
}

.homePage {
    display: inline-block;
    width: 50%;
}

h1 {
    font-size: 80px;
    font-weight: 900;
}

.homePage #intro {
    width: 20vw;
}

button {
    background-color: turquoise;
    color: white;
    border-radius: 5px;
    border: 0;
    padding: 5px;
    margin-right: 20px;
    margin-left: 10px;
}

button:hover {
    background-color: darkturquoise;
}

#resetSearchBox:hover {
    background-color: darkturquoise;
}

#searchResults {
    float: right;
}

.searchResult {
    width: 40vw;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.searchResult img {
    width: 40vw;
}

.searchResult p {
    color: #CCCDD6;
    margin-left: 20px;
    margin-right: 20px;
}

.searchResult h3 {
    color: black;
    font-weight: 900;
    margin-left: 20px;
    margin-right: 20px;
}

.searchResult input {
    margin-left: 20px;
    margin-bottom: 20px;
}

.teamDiv {
    display: flex;
}

.team {
    display: inline-block;
}