/*CSS, specifically, for whole web*/

body {
    background-image: url('./images/ny.jpg');
    background-size: 100%;
    background-position: top;
    font-family: sans-serif;
    margin: 0;
    color: white;
}

body > div {
    margin-left: 7vw;
}

nav {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 40px;
    background-color: #182626;
}

nav div {
    flex: 1;
    margin-left: 20vw;
}

nav a {
    text-decoration: none;
    margin-left: 10px;
    color: white;
}

#navbarSearch {
    display: flex;
    margin-left: auto;
}

#search {
    color: turquoise;
    border-radius: 5px;
    padding: 5px;
    width: 200px;
}

#search::placeholder {
    color: turquoise;
}

input[type="button"] {
    background-color: turquoise;
    color: white;
    border-radius: 5px;
    border: 0;
    padding: 5px;
    margin-left: 10px;
}

input[type="button"]:hover {
    background-color: darkturquoise;
}

#booking {
    margin-left: 0px;
}

#resetSearchBox {
    background-color: turquoise;
    color: white;
    border-radius: 5px;
    border: 0;
    padding: 5px;
    margin-right: 20px;
    margin-left: 10px;
}

/*CSS, specifically, for home page*/

.homePage {
    display: inline-block;
    width: 50%;
}

h1 {
    font-size: 80px;
    font-weight: 900;
}

.homePage #intro {
    width: 40vw;
}

button {
    background-color: turquoise;
    color: white;
    border-radius: 5px;
    border: 0;
    padding: 5px;
    margin-right: 20px;
    margin-left: 10px;
}

button:hover {
    background-color: darkturquoise;
}

#resetSearchBox:hover {
    background-color: darkturquoise;
}

#searchResults {
    float: right;
    margin-top: 20px;
}

.searchResult {
    width: 40vw;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.searchResult img {
    width: 40vw;
}

.searchResult p {
    color: #CCCDD6;
    margin-left: 20px;
    margin-right: 20px;
}

.searchResult h3 {
    color: black;
    font-weight: 900;
    margin-left: 20px;
    margin-right: 20px;
}

.searchResult input {
    margin-left: 20px;
    margin-bottom: 20px;
}

.teamDiv {
    display: flex;
}

.team {
    display: inline-block;
}

/*CSS, specifically, for about page*/

#about {
    margin-left: 10vw;
}

#aboutDesc {
    margin-left: 12vw;
    margin-right: 12vw;
}

.teamDiv {
    margin-left: 20vw;
    margin-top: 5vw;
}

h2 {
    font-weight: 900;
    font-size: xx-large;
}

#teamMembers {
    margin-left: 10vw;
}

.team {
    margin: 16px;
    padding: 16px 32px 16px 32px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.team h3 {
    color: rgba(255, 255, 255, .9);
}

.team button {
    margin-left: 0px;
    width: 200px;
    background-color: #264485;
    color: rgba(255, 255, 255, .9);    
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
    font-weight: 700;
}

/*CSS, specifically, for contact page*/

#contactDesc {
    display: inline-block;
    width: 50%;
    margin-top: 10vw;
}

#contact {
    float: right;
    margin-top: 10vw;
    margin-right: 5vw;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 32px;
    width: 32vw;
    border-radius: 5px;
}

#contact label {
    color: darkturquoise;
}

#contact input {
    width: 32vw;
    height: 32px;
    border-radius: 5px;
    color: turquoise;
    background-color: transparent;
    border-color: turquoise;
    border-width: 1px;
    margin-top: 16px;
    margin-bottom: 16px;
}

#contact textarea {
    width: 32vw;
    height: 32px;
    border-radius: 5px;
    color: turquoise;
    background-color: transparent;
    border-color: turquoise;
    border-width: 1px;
    margin-top: 16px;
    margin-bottom: 16px;
}

#contact input::placeholder {
    color: turquoise;
}

#contact textarea::placeholder {
    color: turquoise;
}

#contact button {
    margin-left: 0px;
    width: 32vw;
}